$primary-color: #007bff;
$secondary-color: #6c757d;
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
td {
  border: 1px solid black;
  padding: 8px;
}
.table-name {
  transition: 0.4s all;
  cursor: pointer;
}
.table-name:hover {
  background-color: #ddd;
}

.table-wrapper {
  margin: 20px;
  margin-top: 100px;/*  um platz fuer die toolbar oben zu schaffen. da dessen groeße im browser 0x0 ist
                      wäre gut wenn die Toolbar selbst eine bestimmte höhe hat, sodass dies hier nicht
                       geschrieben werden muss*/
}

.table-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar {
  background-color: #eeeeee;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid rgb(189, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

span {
  margin-left: 10px;
  font-size: large;
}

input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background-color: transparent;
&:focus {
   outline: none;
 }
}
}
