.singleDataWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#treemap,
#barchart {
  width: 1000px;
  height: 1000px;
}
