<div class="login-root">
  <div
    class="box-root flex-flex flex-direction--column"
    style="min-height: 100vh; flex-grow: 1"
  >
    <div
      class="box-root padding-top--24 flex-flex flex-direction--column"
      style="flex-grow: 1; z-index: 9"
    >
      <div
        class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
      >
        <h1>SEP GROUP I</h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Log in to your account</span>

            <span
              class="error-message padding-bottom--15"
              *ngIf="errorText > ''"
            >
              {{ errorText }}
            </span>

            <form id="stripe-login">
              <div class="field padding-bottom--24">
                <label>Email</label>
                <input
                  type="text"
                  [(ngModel)]="email"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label>Password</label>
                </div>
                <input
                  type="password"
                  [(ngModel)]="password"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <div class="field padding-bottom--24" *ngIf="showTwoFactor">
                <div class="grid--50-50">
                  <label>Two Factor Code:</label>
                </div>
                <input
                  type="text"
                  [(ngModel)]="twoFactor"
                  id="twoFactor"
                  name="twoFactor"
                />
              </div>
              <div class="field padding-bottom--24">
                <button (click)="submit()" [disabled]="isLoading" class="loginButton">
                  <span *ngIf="!isLoading">Login</span>
                  <div class="spinner" *ngIf="isLoading"></div>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <span
            >Don't have an account?
            <a routerLink="/registration">register here</a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
